* {
  border-color: #909396 !important;
}
a {
  color: #2f7bde !important;
}
a:visited {
  color: #797fd4 !important;
}
body {
  background-color: #d2d8d9 !important;
  color: #909396 !important;
}
html {
  background-color: #d2d8d9 !important;
}
input,
textarea {
  background-color: #b8bbbd !important;
  color: #909396 !important;
}
blockquote,
pre {
  background-color: #b8bbbd !important;
  color: #909396 !important;
}
.search--adv {
  background-color: #b8bbbd !important;
}
.search__autocomplete > .acp-wrap {
  background-color: #d2d8d9 !important;
}
.search__autocomplete > .acp-wrap > .acp--highlight {
  background-color: #b8bbbd !important;
  color: #2e2e2e !important;
}
.search__autocomplete > .acp-wrap strong {
  color: #2e2e2e !important;
}
.site-wrapper > #header_wrapper {
  background-color: #d2d8d9 !important;
}
.site-wrapper > #header_wrapper > #header {
  background-color: #d2d8d9 !important;
}
.search--header {
  background-color: #b8bbbd !important;
}
.zci {
  background-color: #b8bbbd !important;
  color: #909396 !important;
}
.tile--info {
  background-color: #d2d8d9 !important;
}
.tile--info__expand {
  background-color: #a6aaab !important;
}
.tile--c {
  background-color: #a6aaab !important;
  color: #2e2e2e !important;
}
.module__text {
  color: #909396 !important;
}
.about-info-box__heading {
  color: #5e6263 !important;
}
.result.highlight {
  background-color: #b8bbbd !important;
}
.result__snippet {
  color: #909396 !important;
}
.result__snippet b {
  color: #5e6263 !important;
}
.btn--top {
  background-color: #b8bbbd !important;
  color: #909396 !important;
}
.btn--top:hover {
  background-color: #a6aaab !important;
}
.result--sep--hr:before {
  background-color: #a6aaab !important;
}
