* {
  border-color: #909396 !important;
}
a {
  color: #2f7bde !important;
}
a:visited {
  color: #797fd4 !important;
}
body {
  background-color: #d2d8d9 !important;
  color: #909396 !important;
}
html {
  background-color: #d2d8d9 !important;
}
input,
textarea {
  background-color: #b8bbbd !important;
  color: #909396 !important;
}
blockquote,
pre {
  background-color: #b8bbbd !important;
  color: #909396 !important;
}
tr.Even {
  background-color: #b8bbbd !important;
}
.BigQuote {
  background-color: #b8bbbd !important;
  color: #e05f27 !important;
}
.Cat1HL {
  background-color: #a6aaab !important;
  color: #5e6263 !important;
}
.Cat2HL {
  background-color: #b0b4b6 !important;
}
.Cat3HL {
  background-color: #b4b7b9 !important;
}
.FeatureByline {
  background-color: #b8bbbd !important;
  border: none !important;
}
.Headline {
  background-color: #b0b4b6 !important;
}
.QuotedText {
  color: #797fd4 !important;
}
DIV.GAByline {
  background-color: #b8bbbd !important;
  border: none !important;
}
table.OddEven tr:nth-child(even) {
  background-color: #cdd4d5 !important;
}
table.OddEven tr:nth-child(odd) {
  background-color: #d2d8d9 !important;
}
DIV.CommentBox {
  border-color: #b8bbbd !important;
}
DIV.CommentBox P.CommentTitle {
  background-color: #b0b4b6 !important;
}
#menu,
.topnav-container {
  background-color: #b8bbbd !important;
}
.navmenu ul {
  background-color: #b8bbbd !important;
}
