* {
  border-color: #909396 !important;
}
a {
  color: #2f7bde !important;
}
a:visited {
  color: #797fd4 !important;
}
body {
  background-color: #d2d8d9 !important;
  color: #909396 !important;
}
html {
  background-color: #d2d8d9 !important;
}
input,
textarea {
  background-color: #b8bbbd !important;
  color: #909396 !important;
}
blockquote,
pre {
  background-color: #b8bbbd !important;
  color: #909396 !important;
}
* {
  border-color: #909396 !important;
}
a {
  color: #2f7bde !important;
}
a:visited {
  color: #797fd4 !important;
}
body {
  background-color: #d2d8d9 !important;
  color: #909396 !important;
}
html {
  background-color: #d2d8d9 !important;
}
input,
textarea {
  background-color: #b8bbbd !important;
  color: #909396 !important;
}
tr:hover,
blockquote,
pre {
  background-color: #b8bbbd !important;
  color: #909396 !important;
}
#toolMenu li {
  background-color: #d2d8d9 !important;
}
.navPanel,
.navIntraTool {
  background-color: #d2d8d9 !important;
}
.instruction,
.sakaiCopyrightInfo {
  color: #909396 !important;
}
.listHier th {
  background-color: #b0b4b6 !important;
}
ul.makeMenu {
  background-color: #b0b4b6 !important;
  border: 1px solid #b0b4b6 !important;
}
tr.external {
  background-color: #b0b4b6 !important;
}
