* {
  border-color: #909396 !important;
}
a {
  color: #2f7bde !important;
}
a:visited {
  color: #797fd4 !important;
}
body {
  background-color: #d2d8d9 !important;
  color: #909396 !important;
}
html {
  background-color: #d2d8d9 !important;
}
input,
textarea {
  background-color: #b8bbbd !important;
  color: #909396 !important;
}
blockquote,
pre {
  background-color: #b8bbbd !important;
  color: #909396 !important;
}
table {
  background-color: #d2d8d9 !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table,
#hnmain > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table {
  background-color: #e05f27 !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) a,
#hnmain > tbody:nth-child(1) > tr:nth-child(1) a {
  color: #000 !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > tbody:nth-child(1) > tr:nth-child(2),
#hnmain > tbody:nth-child(1) > tr:nth-child(2) {
  background-color: #d2d8d9 !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(2) {
  background-color: #d2d8d9 !important;
}
.title a {
  color: #909396 !important;
}
.title a:visited {
  color: #a6aaab !important;
}
a.storylink {
  color: #5e6263 !important;
  font-weight: bold;
}
.sitestr {
  color: #2f7bde !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(3) > td:nth-child(1) {
  background-color: #d2d8d9 !important;
}
#hnmain .comhead {
  color: #5e6263 !important;
}
#hnmain .c00 {
  color: #909396 !important;
}
#hnmain a.hnuser {
  color: #b68800 !important;
}
#hnmain span.age a {
  color: #a6aaab !important;
}
.cdd {
  color: rgba(178,0,0,0.65) !important;
}
.comment i {
  color: #a6aaab !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(4) {
  background-color: #d2d8d9 !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(4) > td:nth-child(1) > table:nth-child(2) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) {
  background-color: #e05f27 !important;
}
