* {
  border-color: #909396 !important;
}
a {
  color: #2f7bde !important;
}
a:visited {
  color: #797fd4 !important;
}
body {
  background-color: #d2d8d9 !important;
  color: #909396 !important;
}
html {
  background-color: #d2d8d9 !important;
}
input,
textarea {
  background-color: #b8bbbd !important;
  color: #909396 !important;
}
blockquote,
pre {
  background-color: #b8bbbd !important;
  color: #909396 !important;
}
body * {
  border-color: #b0b4b6 !important;
}
#content {
  background-color: #d2d8d9 !important;
  color: #909396 !important;
}
#mw-head,
#mw-panel {
  background-color: #b8bbbd !important;
  color: #5e6263 !important;
}
#mw-head div.portal,
#mw-panel div.portal {
  background-image: none !important;
}
#mw-head {
  background-color: #b8bbbd !important;
  background-image: linear-gradient(to bottom, #d2d8d9, #b8bbbd) !important;
}
#mw-panel,
#p-logo {
  background-image: linear-gradient(to right, #d2d8d9, #b8bbbd) !important;
}
div.vectorTabs {
  background-image: linear-gradient(to bottom, #d2d8d9, #b8bbbd) !important;
}
div.vectorTabs ul {
  background-image: linear-gradient(to bottom, #d2d8d9, #b8bbbd) !important;
}
div.vectorTabs ul li {
  background-color: #b8bbbd !important;
  background-image: none !important;
  padding: 0px 1px 0px 1px !important;
}
div.vectorTabs span {
  background-color: #b8bbbd !important;
  background-image: linear-gradient(to bottom, #d2d8d9, #b8bbbd) !important;
}
div.vectorTabs li.selected,
div.vectorTabs li.selected span {
  background-color: transparent !important;
  background-image: linear-gradient(to bottom, #b8bbbd, #d2d8d9) !important;
}
.mw-wiki-logo {
  filter: opacity(50%);
}
div#simpleSearch #searchInput {
  background-color: #d2d8d9 !important;
  padding: 0.05em 0px 0.2em 0.2em !important;
}
.ambox,
.infobox,
#toc,
#toctitle,
.toclevel-1 {
  background-color: #b8bbbd !important;
  border-color: #b0b4b6 !important;
  color: #5e6263 !important;
}
.catlinks {
  background-color: #b8bbbd !important;
  border-color: #b0b4b6 !important;
  color: #5e6263 !important;
}
.navbox {
  background-color: #b8bbbd !important;
  border-color: #b0b4b6 !important;
  color: #5e6263 !important;
}
.navbox .th,
.navbox .navbox-title {
  background-color: #b0b4b6 !important;
}
.navbox-abovebelow,
th.navbox-group,
.navbox-subgroup,
.navbox-title {
  background-color: #b4b7b9 !important;
}
.navbox-even {
  background-color: #d2d8d9 !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  border-color: #b0b4b6 !important;
  color: #5e6263 !important;
}
code {
  background-color: #b0b4b6 !important;
  border-color: #b0b4b6 !important;
  color: #5e6263 !important;
}
div.thumbinner {
  background-color: #b8bbbd !important;
  border-color: #b0b4b6 !important;
}
img {
  filter: opacity(75%);
}
img.thumbimage {
  border-color: #b0b4b6 !important;
}
.mw-body .external {
  opacity: 0.5 !important;
}
table.wikitable {
  background-color: #d2d8d9 !important;
  border-color: #b0b4b6 !important;
  color: #909396 !important;
}
table.wikitable > * > tr > th {
  background-color: #b8bbbd !important;
}
